<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>开始使用Layui</title>
<link rel="stylesheet" href="/layui/css/layui.css" />
</head>
<body style="text-align: center">
		<div class="layui-row">
			<blockquote class="layui-elem-quote">
				视觉疲劳的形成往往是由于颜色过于丰富或过于单一形成的麻木感，而 layui
				提供的颜色，清新而不乏深沉，互相柔和，不过分刺激大脑皮层的神经反应，形成越久越耐看的微妙影像。合理搭配，可与各式各样的网站避免违和，从而使你的Web平台看上去更为融洽。
			</blockquote>
		</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/layui/layui.all.js"></script>
	<script>
		
	</script>
</body>
</html>